<ion-header>

  <ion-navbar color="reddark">
    <ion-title>Fanspage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="status">
    <ion-segment-button value="verifikasi">
      Verifikasi
    </ion-segment-button>
    <ion-segment-button value="open">
      Open
    </ion-segment-button>
    <ion-segment-button value="clsd">
      Clsd
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="status">

      <div *ngSwitchCase="'verifikasi'">
        <ion-card padding *ngFor="let verifikasi of fanspageverifikasi">
          <h5>
            <strong>{{verifikasi.title}}</strong>
          </h5>
          <ion-note>{{verifikasi.date | date: 'dd MMMM yyyy'}}</ion-note>
        </ion-card>
      </div>
  
      <div *ngSwitchCase="'open'">
        <ion-card padding *ngFor="let open of fanspageopen">
          <h5>
            <strong>{{open.name}}</strong>
          </h5>
          <ion-note>{{open.date | date: 'dd MMMM yyyy'}}</ion-note>
        </ion-card>
      </div>
  
      <div *ngSwitchCase="'clsd'">
        <ion-card padding *ngFor="let clsd of fanspageclsd">
          <h5>
            <strong>{{clsd.name}}</strong>
          </h5>
          <ion-note>{{clsd.date | date: 'dd MMMM yyyy'}}</ion-note>
        </ion-card>
      </div>
  
    </div>
  <ion-fab bottom right>
    <button color="reddark" ion-fab>
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>