<ion-header id="header">

  <ion-navbar color="bluedark">
    <ion-title>Jadwal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="status">
    <ion-segment-button value="verifikasi">
      Verifikasi
    </ion-segment-button>
    <ion-segment-button value="open">
      Open
    </ion-segment-button>
    <ion-segment-button value="clsd">
      Clsd
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="status">

    <div *ngSwitchCase="'verifikasi'">
      <ion-card padding *ngFor="let verifikasi of scheduleverifikasi">
        <h5>
          <strong>{{verifikasi.title}}</strong>
        </h5>
        <ion-note>{{verifikasi.date | date: 'dd MMMM yyyy'}}</ion-note>
      </ion-card>
    </div>

    <div *ngSwitchCase="'open'">
      <ion-card padding *ngFor="let open of scheduleopen">
        <h5>
          <strong>{{open.club_home}} Vs {{open.club_away}}</strong>
        </h5>
        <ion-note>{{open.date | date: 'dd MMMM yyyy'}}</ion-note>
      </ion-card>
    </div>

    <div *ngSwitchCase="'clsd'">
      <ion-card padding *ngFor="let clsd of scheduleclsd">
        <h5>
          <strong>{{clsd.club_home}} Vs {{clsd.club_away}}</strong>
        </h5>
        <ion-note>{{clsd.date | date: 'dd MMMM yyyy'}}</ion-note>
      </ion-card>
    </div>

  </div>
  <ion-fab bottom right>
    <button color="bluedark" ion-fab (click)="doAddSchedule()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<div id="mySchedule" class="modal">
  <div class="modal-content">
    <div>
      <b>ADD JADWAL</b>
      <span class="closeModal" (click)="doCloseAddSchedule()">&times;</span>
    </div>
    <form [formGroup]="myFormSchedule">
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">League</ion-label>
        <ion-select formControlName="league" style="border:1px solid;border-color:#eeeeee;padding-left:5px;">
          <ion-option value="La Liga">LA LIGA</ion-option>
          <ion-option value="Liga Champions">LIGA CHAMPIONS</ion-option>
          <ion-option value="Copa Del Rey">COPA DEL REY</ion-option>
          <ion-option value="Pra Musim">PRA MUSIM</ion-option>
          <ion-option value="Persahabatan">PERSAHABATAN</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Round</ion-label>
        <ion-input formControlName="round" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Home</ion-label>
        <ion-select formControlName="clubhome" style="border:1px solid;border-color:#eeeeee;padding-left:5px;">
          <ion-option value="{{club.name}}" *ngFor="let club of Clubs" (ionSelect)="onSelectClubHome(club)">{{club.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Home Icon</ion-label>
        <ion-input disabled formControlName="clubhomeicon" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Away</ion-label>
        <ion-select formControlName="clubaway" style="border:1px solid;border-color:#eeeeee;padding-left:5px;">
          <ion-option value="{{club.name}}" *ngFor="let club of Clubs" (ionSelect)="onSelectClubAway(club)">{{club.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Club Away Icon</ion-label>
        <ion-input disabled formControlName="clubawayicon" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Place</ion-label>
        <ion-input formControlName="place" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Date</ion-label>
        <ion-datetime displayFormat="DD/MMMM/YYYY HH:mm" formControlName="date" min="2018" max="2020-10-31" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-datetime>
      </ion-item>
      <ion-buttons end padding>
        <button ion-button color="bluedark" (click)="doSaveSchedule();" [disabled]="!myFormSchedule.valid">Save</button>
      </ion-buttons>
    </form>
  </div>
</div>