<ion-header id="header">

  <ion-navbar color="bluedark">
    <ion-title>Pemain</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="club">
    <ion-segment-button value="barca">
      Barca
    </ion-segment-button>
    <ion-segment-button value="spain">
      Spain
    </ion-segment-button>
    <ion-segment-button value="argentina">
      Argentina
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="club">

      <div *ngSwitchCase="'barca'">
        <ion-card padding *ngFor="let barca of playersbarca">
          <h5>
            <strong>{{barca.name}}</strong>
          </h5>
          <ion-note>Season: {{barca.season}} Number: {{barca.number}}</ion-note>
        </ion-card>
      </div>
  
      <div *ngSwitchCase="'spain'">
        <ion-card padding *ngFor="let spain of playersspain">
          <h5>
            <strong>{{spain.name}}</strong>
          </h5>
          <ion-note>Season: {{spain.season}} Number: {{spain.number}}</ion-note>
        </ion-card>
      </div>
  
      <div *ngSwitchCase="'argentina'">
        <ion-card padding *ngFor="let argentina of playersaargentina">
          <h5>
            <strong>{{argentina.name}}</strong>
          </h5>
          <ion-note>Season: {{argentina.season}} Number: {{argentina.number}}</ion-note>
        </ion-card>
      </div>
  
    </div>
  <ion-fab bottom right>
    <button color="bluedark" ion-fab (click)="doAddPlayers()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<div id="myPlayers" class="modal">
    <div class="modal-content">
      <div>
        <b>ADD PLAYERS</b>
        <span class="closeModal" (click)="doCloseAddPlayers()">&times;</span>
      </div>
      <form [formGroup]="myFormPlayers">
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Position Group</ion-label>
          <ion-select formControlName="positiongroup" style="border:1px solid;border-color:#eeeeee;padding-left:5px;">
            <ion-option value="PLAYER">Player</ion-option>
            <ion-option value="STAFF">Staff</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Name</ion-label>
          <ion-input formControlName="name" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">number</ion-label>
          <ion-input formControlName="number" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Position</ion-label>
          <ion-input formControlName="position" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Season</ion-label>
          <ion-input formControlName="season" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">IMG URL</ion-label>
          <ion-input formControlName="imgurl" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
        </ion-item>
        <ion-buttons end padding>
          <button ion-button color="bluedark" (click)="doSavePlayers();" [disabled]="!myFormPlayers.valid">Save</button>
        </ion-buttons>
      </form>
    </div>
  </div>