<ion-header id="header">

  <ion-navbar color="bluedark">
    <ion-title>Video</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="status">
    <ion-segment-button value="verifikasi">
      Verifikasi
    </ion-segment-button>
    <ion-segment-button value="open">
      Open
    </ion-segment-button>
    <ion-segment-button value="clsd">
      Clsd
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="status">

    <div *ngSwitchCase="'verifikasi'">
      <ion-card padding *ngFor="let verifikasi of videoverifikasi">
        <h5>
          <strong>{{verifikasi.title}}</strong>
        </h5>
        <ion-note>{{verifikasi.date | date: 'dd MMMM yyyy'}}</ion-note>
      </ion-card>
    </div>

    <div *ngSwitchCase="'open'">
      <ion-card padding *ngFor="let open of videoopen">
        <h5>
          <strong>{{open.title}}</strong>
        </h5>
        <ion-note>{{open.date | date: 'dd MMMM yyyy'}}</ion-note>
      </ion-card>
    </div>

    <div *ngSwitchCase="'clsd'">
      <ion-card padding *ngFor="let clsd of videoclsd">
        <h5>
          <strong>{{clsd.title}}</strong>
        </h5>
        <ion-note>{{clsd.date | date: 'dd MMMM yyyy'}}</ion-note>
      </ion-card>
    </div>

  </div>
  <ion-fab bottom right>
    <button color="bluedark" ion-fab (click)="doAddVideos()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<div id="myVideos" class="modal">
    <div class="modal-content">
      <div>
        <b>ADD VIDEO</b>
        <span class="closeModal" (click)="doCloseAddVideos()">&times;</span>
      </div>
      <form [formGroup]="myFormVideos">
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Title</ion-label>
          <ion-input formControlName="title" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Image Url Thumb</ion-label>
          <ion-input formControlName="imageurlthumb" style="border:1px solid;border-color:#eeeeee;padding-left:5px;" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked style="font-weight:bold;margin-bottom:5px;">Video Url</ion-label>
          <ion-input formControlName="videourl" type="text" style="border:1px solid;border-color:#eeeeee;padding-left:5px;"></ion-input>
        </ion-item>
        <ion-buttons end padding>
          <button ion-button color="bluedark" (click)="doSaveVideos();" [disabled]="!myFormVideos.valid">Save</button>
        </ion-buttons>
      </form>
    </div>
  </div>